body {
    background-color:beige;
}

h1.index {
    font-family: 'Montserrat', sans-serif;
}

ul.NavBar {
    background-color: lightblue;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.NavBarLink {
    display:inline;
    margin: 10px;
}



.acit1620, .acit1630 {
    border-top: 2px lightgrey solid;
}



/* Adopting a desktop first approach */

@media screen and (max-width: 600px) {

    li.NavBarLink {
        display:flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: center;
    }

    .course {
        display: block;
    }

}



