body {
    background-color:beige;
}

h1.index {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: lightblue;
}

ul.NavBar {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a.NavBarItem  {
    padding: 10px;
}



